/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: .2em solid #4d4e4d;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata.ttf') format('truetype');
}

:root {
  --main-color: white;
  --buttton-border-color: white;
  --button-color: #5e6b79;
  --button-hover-color: #a9adb0;
}

body, html {
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("/img/echobg-small.jpg");

  /* Full height */
  height: 100%;
  filter: blur(4px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  width: 100%;
  top: 0;
}

a, a:visited, a:hover, a:active {
  color: #d3d3d3;
}

#projectstextdiv {
  position: relative;
  border: .3em solid #4d4e4d;
  padding: 1em;
  background-color: #7a7e81cc;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin: 3em auto 3em auto;
  width: 24em;
  z-index: 0;
}

#titlearea {
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  text-shadow: black 0 0 1.2em;

}

#titlearea h1 {
  /*font-size: 2em;*/
  font-family: Inconsolata, Consolas, monospace;
}

#headerbackground {
  background-color: #4d4e4d;
  transform: skew(-45deg);
  height: 2.8em;
  margin: 0 auto;
  width: 26em;
  position: absolute;
  top: 0;
  left: -2.5em;
  z-index: -1;
}

#headerbackground:before {
  width: .5em;
  height: 1em;
  display: block;
  content: "";
  position: relative;
  left: -1em;
  background-color: #34a6a5;
}

#headerbackground:after {
  width: .5em;
  height: 2em;
  float: right;
  display: block;
  content: "";
  position: relative;
  right: -1em;
  top: -1em;
  background-color: #34a6a5;
}

table {
  width: 100%;
}

.projecttitle {
  font-weight: bold;
}

.projectdesc {
  font-style: italic;
}

.projectdesc p {
  margin-top: .2em;
}

#pagesummary {
  font-style: italic;
}

.echobutton {
  width: 14em;
  height: 1em;
  display: block;
  color: white;
  text-align: center;
  margin: 1em auto 0 auto;
  padding: 2em;
  cursor: pointer;
  position: relative;
  /*font-family: Inconsolata, Consolas, monospace;*/
  /*font-weight: 900;*/
  /*font-size: 1.2em;*/
}

.echobutton:before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--buttton-border-color);
  width: 14em;
  height: 3.66em;
  z-index: -2;
  transform: scale(1.1);
  clip-path: polygon(8% 0%, 100% 0%, 100% 75%, 92% 100%, 0% 100%, 0% 25%);
  margin-top: -1.86em;
  margin-left: -2em;
}

.echobutton:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--button-color) linear-gradient(175deg, #4d5761 0%, var(--button-color) 100%);
  width: 14.8em;
  height: 3.5em;
  z-index: -1;
  clip-path: polygon(8% 0%, 100% 0%, 100% 75%, 92% 100%, 0% 100%, 0% 25%);
  margin-top: -1.8em;
  margin-left: -2.4em;
}

.echobutton.small {
  margin-top: 0em;
}

.echobutton.small:before {
  height: 34px;
  margin-top: -7px;
  clip-path: polygon(8% 0%, 100% 0%, 100% 55%, 92% 100%, 0% 100%, 0% 45%);
}

.echobutton.small:after {
  height: 30px;
  margin-top: -23px;
  margin-left: -8px;
  width: 240px;
  clip-path: polygon(8% 0%, 100% 0%, 100% 50%, 92% 100%, 0% 100%, 0% 50%);
}

.echobutton a {
  text-decoration: none;
  display: block;
  color: var(--main-color);
  line-height: 3.8em;
  width: 14em;
  height: 4em;
  position: absolute;
  margin: 0;
  text-align: center;
  left: 0;
  top: 0;
}

.echobutton:hover::after {
  background-color: var(--button-hover-color);
  background: linear-gradient(175deg, var(--button-hover-color) 0%, var(--button-hover-color) 100%);
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 50em) and (min-height: 65em) {
  /* Style adjustments for viewports that meet the condition */
  body {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 30em) {
  /* Style adjustments for viewports that meet the condition */
  body {
    font-size: .8em;
  }
}

@media only screen and (max-width: 20em) {
  /* Style adjustments for viewports that meet the condition */
  html {
    line-height: 1;
  }

  #projectstextdiv {
    padding: .1em;
    max-width: 18em;
  }

  h1 {
    font-size: 1.5em;
  }

  #headerbackground {
    height: 2.2em;
    width: 18em;
    left: -.5em;
    top: -.3em;
  }
}